@import url("reset.css");
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
}
.header__hint{

font-weight: 400;
font-size: 16px;
text-align: center;
color: aliceblue;
background-color: #1967D2;
padding: 19px;
}
a{
font-weight: 400;
font-size: 16px;
text-align: center; 
color: #FFFFFF;
}